body {
  background-image: url("./../assets/img/background.jpg");
  background-position: auto;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: black;
}

.info {
  background-image: url("https://media.giphy.com/media/d7qFTitBNU9kk/giphy.gif");
  background-position: auto;
  background-repeat: no-repeat;
  background-size: cover;
  /*padding: 1%;*/
  padding-top: 1%;
  height: 630px;
  border: 5px solid black;
  margin-top: 2%;
  margin-right: 15%;
  margin-left: 15%;
  position: relative;
  border-left: 10px solid silver;
}

#quote {
  color: black;
  border: 3px solid red;
  border-left: 3px solid silver;
  font-weight: 700;
  background-image: url("./../assets/img/flag.jpg");
  background-position: auto;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 2em;
  height: 115px;
  width: 220px;
  padding-top: 6%;
/* position: absolute;
  bottom: 0;*/
  margin-top: 1%;
  margin-right: 90%
}

.output {
  display: none;
  background-image: url("./../assets/img/shotgun.jpg");
  height: auto;
  width: 1590px;
  border: 5px solid black;
  margin-top: 2%;
  margin-left: 18.5%;
  background-position: auto;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  position: center;
  font-size: 4em;
  padding-bottom: 1%;
}

img {
  border: 5px solid black;
}
