body {
  background-image: url("./../assets/img/background.jpg");
  background-position: auto;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: black;
}

.info {
  background-image: url("https://media.giphy.com/media/d7qFTitBNU9kk/giphy.gif");
  background-position: auto;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1%;
  height: 630px;
  border: 5px solid black;
  margin-top: 2%;
  margin-right: 15%;
  margin-left: 15%;
  position: relative;
}

#quote {
  font-size: 3em;
  position: absolute;
  bottom: 0;
  margin-bottom: 15px;
}

.output {
  background-image: url("./../assets/img/shotgun.jpg");
  height: 370px;
  width: 1590px;
  border: 5px solid black;
  margin-top: 2%;
  margin-left: 18.5%;
  background-position: auto;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  position: center;
  font-size: 4em;
}